//
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
  > a {
    color: $gray-700;
  }
  + .breadcrumb-item {
    &::before {
      $icon-font-family: "Material Design Icons";
      font-family: $icon-font-family;
    }
  }
}
